{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>_Aadhar_personal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts1/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts1/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/noui/nouislider.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css1/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css1/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="post" action="validphoto" enctype="multipart/form-data">{% csrf_token %}
				<span class="contact100-form-title">
					Update Details
				</span>
				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Photograph</span>
					<div>
					&nbsp &nbsp &nbsp &nbsp &nbsp <label class="label-input100"> {{ form1.file1 }}</label>
					</div>
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" input type="submit">
						<span>
							SUBMIT
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="{% static 'vendor1/jquery/jquery-3.2.1.min.js '%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/animsition/js/animsition.min.js '%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor1/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/select2/select2.min.js' %}"></script>

<!--===============================================================================================-->
	<script src="{% static 'vendor1/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor1/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/noui/nouislider.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js1/main.js' %}"></script>

</body>
</html>
